@model Source_Control_Final_Assignment.Models.RegisterViewModel
@using Source_Control_Final_Assignment.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ 
    var user = ViewBag.User;
}

<div>
    <h4>RegisterViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @user.Email
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @user.Phone_Number
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @user.Age
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @user.Experience
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfilePicturePath)
        </dt>

        <dd>
            <img src=@user.UserProfilePicturePath alt="@user.Email" height="150px" width="150px"/>
        </dd>

    </dl>
</div>
